.navbar {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 4rem;
  align-items: center;
  padding: 0.2rem 2rem;
  img {
    height: 4rem;
  }

  .navLinks {
    display: flex;
    justify-content: space-evenly;
  }
}
